*{
    padding: 0;
    margin: 0;
}
.porsche{
    background-color: rgb(148, 148, 148);
}

nav{
    background-color: rgb(148, 148, 148);
}

#porsche{
    float: right;
}

h1{
    font-size: small;
}